div{
    
    display: flex;
    justify-content: center;
}
.frosted-glass-btn {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #95c3d4;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    backdrop-filter: blur(10px);
    transition: background-color 0.3s ease;
  }
  
.frosted-glass-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

input{
    height: 50px;
    width: 450px;
}
.submit{
    align-content: center;
    
    

}
button{
    border-radius: 8px;
    height: 80px;
    width: 150px;
    
}

  